name: Build Windows

on:
  workflow_run:
    workflows: ["Release"]
    types: [completed]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build (Windows x86_64)
    runs-on: windows-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_branch }}

      - name: Restore Rust Cache
        uses: actions/cache/restore@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: windows-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            windows-cargo-

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.92.0

      - name: Build
        run: cargo build --release --target x86_64-pc-windows-msvc --features windows

      - name: Save Rust Cache
        uses: actions/cache/save@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: windows-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Upload Windows artifact
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          $TAG = "${{ github.event.workflow_run.head_branch }}"
          gh release upload $TAG target/x86_64-pc-windows-msvc/release/astrum.exe --clobber
        shell: pwsh
