name: Build Windows

on:
  workflow_call:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build (Windows x86_64)
    runs-on: blacksmith-2vcpu-windows-2025
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.92.0

      - name: Generate lockfile
        run: cargo generate-lockfile

      - name: Restore Rust Cache
        uses: actions/cache/restore@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: windows-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            windows-cargo-

      - name: Build
        run: cargo build --release --target x86_64-pc-windows-msvc

      - name: Save Rust Cache
        uses: actions/cache/save@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: windows-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Rename artifact
        run: mv target/x86_64-pc-windows-msvc/release/astrum.exe astrum_windows_${{ github.ref_name }}.exe

      - name: Upload Windows artifact
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${{ github.ref_name }} astrum_windows_${{ github.ref_name }}.exe --clobber
