name: Release

on:
  push:
    tags: ["v*"]

jobs:
  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if gh release view "${{ github.ref_name }}" > /dev/null 2>&1; then
            echo "Release ${{ github.ref_name }} already exists. Skipping creation."
          else
            gh release create ${{ github.ref_name }} --draft --verify-tag --title ${{ github.ref_name }}
          fi
